# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
node_modules
npm-debug.log
evenucleusw.v12.suo
web/jspm_packages/
web/bower_components/
packages/
