.vs/
src/evenucelusw/wwwroot/jspm_packages/
src/evenucelusw/wwwroot/bin/
src/evenucelusw/project.lock.json
src/evenucelusw/evenucelusw.xproj.user
web/jspm_packages/
web/obj/
*.map
web/bin/
evenucleusw.v12.suo
web/web.csproj.user
packages/
node_modules/
web/test/coverage/
evenucleusw/bower_components/
evenucleusw/obj/
evenucleusw/bin/
web/bower_components/
webapp/jspm_packages/
webapp/obj/
webapp/Built/
webapp/x
webapp/bin/
webapp/test/dom/x
webapp/app.js
webapp/app/App.js
webapp/app/Navigation.js
webapp/app/Routes.js
webapp/industry/Industry.js
webapp/characters/Characters.js
webapp/actions/AppActions.js
webapp/app/BaseStore.js
webapp/app/Dispatcher.js
webapp/app/LoginStore.js
webapp/actions/ActionTypes.js
webapp/app/Login.js
webapp/app/AuthService.js
webapp/app/Logout.js
webapp/forms/component.js
webapp/test/dom/index.js
webapp/test/dom/login-test.js
webapp/test/dom/smoke0-test.js
webapp/test/dom/TestContext.js
webapp/utils/deepCopy.js
webapp/app/AppState.js
webapp/app/kernel.js
webapp/actions/LoginActions.js
webapp/actions/rootReducer.js
webapp/app/IKernelContext.js
webapp/api/AuthService.js
webapp/app/IRouterContext.js
webapp/app/IStoreContext.js
api/bin/
api/obj/
webapp/app/Register.js
x
ring1/bin/
ring1/obj/
shared/obj/
ring0/obj/
ring0/bin/
db/obj/
db/bin/
evenucleusw.sln.DotSettings.user
shared/bin/
ring2/bin/
ring2/obj/
services/bin/
domain/obj/
data/bin/
services/obj/
data/obj/
dto/obj/
domain/bin/
dto/bin/
webapp/api/KeyInfoService.js
webapp/app/IApiContext.js
webapp/Scripts/Enums.js
webapp/test/dom/api-test.js
webapp/tsd-debug.log
webapp/api/IApiCaller.js
webapp/api/ApiCaller.js
webapp/test/dom/Helper.js
webapp/test/dom/api-keys-test.js
webapp/actions/NotificationActions.js
webapp/keys/Keys.js
