[submodule "fas/Nancy.Bootstrappers.Ninject"]
	path = fas/Nancy.Bootstrappers.Ninject
	url = https://github.com/tomek1909/Nancy.Bootstrappers.Ninject.git
	branch = evenucleus
[submodule "fas/Nancy"]
	path = fas/Nancy
	url = https://github.com/tomek1909/Nancy.git
	branch = evenucleus
